.unread {
    color: #FF0000;
}

.username {
    margin-top: 2px;
    line-height: 27px;
    color: #000000;
    display: block;
    margin-left: 5px;
}

.bubble {
    line-height: 25px;
    background: rgb(236, 236, 236);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 10px;
    padding: 8px;
    border: solid 1px rgb(201, 198, 198);
    border-radius: 10px;
    color: #000000;
    width: fit-content;
}

.opacity {
    opacity: 0.85;
}

.background {
    background-color: #ebf1f5;
    background-image: url(https://api.kdcc.cn/);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.list {
    border-radius: 20px;
}

.main-area {
    padding: 0px 3px 0px 3px;
}

.inputcontent {
    width: 100%;
    height: 50px;
    background: transparent;
    border-top: 1px solid #787d9a;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 4px;
    color: #000000;
}

.CardTitle {
    color: #000000;
    height: 50px;
    padding: 16px;
    font-size: 3vh;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    border-radius: 20px;
}
  
.CardBody {
    padding: 0px 12px 10px 12px;
    font-weight: 400;
    font-size: 16px;
}
  
.mb10 {
    margin-bottom: 12px;
    
}

.logo {
    margin-bottom: 12px;
    margin-top:30px;
}

#dplayer {
    width: 100%;
    height: 512px;
    zoom: 1.1;
    display: none;
}

#notstart {
    display: none;
    text-align: center;
    width: 100%;
    height: 512px;
    zoom: 1.1;
    background: #333333;
    color: #FFFFFF;
}

#notstart img {
    width: 320px;
    max-width: 100%;
    margin-top: 64px;
}

.comments {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: #7fa5bc;
    border-radius: 20px;
}

.h100 {
    height: 101.8%;
}

.commentdata {
    width: 100%;
    height: 550px;
    overflow-y: auto;
}

.commentdata2 {
    width: 100%;
    height: 650px;
}

.msgcontent .headimg {
    display: inline-block;
    width: 32px;
}

.msgcontent .headimg img {
    width: 100%;
    border-radius: 50%;
}

.msgcontent {
    display: block;
    line-height: 10px;
}

.msg {
    width: 100%;
    font-size: 2vh;
    display: block;
    color: #000000;
}

.inputcontentbutton {
    width: 100%;
    height: 50px;
    display: block;
    background: transparent;
    border-top: 1px solid #787d9a;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 4px;
    color: #000000;
}

.player {
    padding-right: 5px ! important;
}

.active {
    border-left: 3px solid rgb(255, 161, 161);
}

.NekohaShizuku {
    position: fixed;
    width: 30em;
    bottom: 0;
    right: 0;
}

.livEstatus {
    background: #ffeb00;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: 4%;
    margin-right: 5px;
    border-radius: 6px;
}

.swal2-container.swal2-center>.swal2-popup {
    font-size:16px;
}

@media only screen and (min-width: 1024px){
    .font-set{
        font-size: 85px !important;
        font-weight: 700 !important;
        margin-left: -10px;
      }
      .banner{
        padding-top: 96px !important;
        padding-bottom: 64px !important;
        text-align: center !important;
      }
      .page-warp {
        /*background: #eee;*/
        height: 120vh !important;
        min-height: 150px !important;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        z-index: 99;
      }
      .font-set-phone{
        padding-left: 13vw !important;
    }
    .gugu-card-left{
        margin-left: 6% !important;
    }
    .page-warp-1 {
        height: 120vh;
        background-image: url("./img/98483067_p0.jpg") !important;
        background-size: 100% !important;
        background-repeat:no-repeat;
      }
      .page-warp-3 {
        height: 500px !important;
        background: #eee;
      }
}
@media only screen and (min-width: 824px){
    .font-set{
        font-size: 65px;
        font-weight: 700;
        margin-left: -20px;
      }
      .banner{
        padding-top: 96px;
        padding-bottom: 64px;
        text-align: center;
      }
      .font-set-phone{
        padding-left: 22vw;
    }
      .page-warp {
        /*background: #eee;*/
        height: 120vh;
        min-height: 150px;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        z-index: 99;
      }
}
@media only screen and (max-width: 600px){
    .font-set{
        font-size: 65px;
        font-weight: 700;
      }
    .font-set-phone{
        margin-left: 25% !important;
    }
    .banner{
    padding-top: 96px;
    padding-bottom: 64px;
    text-align: center;
    }
    .page-warp {
        /*background: #eee;*/
        height: 110vh;
        min-height: 90px;
        position: absolute;
        left: 49vw;
        top: 70%;
        transform: translate(-50%, -50%);
        z-index: 99;
        min-width: 5vh;
        margin-left: 5px;
      }
      .mb10{
        display: none;
      }
      .r-gugu{
        width: 100% !important;
      }
      .gugu-card-left{
        margin-left: 13% !important;
      }
      .page-warp-1 {
        height: 120vh;
        background-image: url("./img/98483067_p0-phone.jpg");
        background-size: 150% 100%;
        background-repeat:no-repeat;
      }
      .page-warp-3 {
        height: 1100px;
        background: #eee;
      }
}

  
  .page-warp-2 {
    height: 800px;
    background: #eee;
  }
  
  .page-warp-4 {
    height: 300px;
    background: #eee;
  }

  
  .box-text-cat{
    display:block;
  }
  .title-img{
    width: 128px;
    height: 113px;
    margin-bottom: -50px;
  }
  .box-button{
    
    min-height: 10vh;
  }
  .text-ltjm{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .text-kfry{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .text-ymsg{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }